@model Proveduria.Models.EPRTA_MOVIMIENTO
@{
                /**/

                ViewBag.Title = "SolicitudRequisicion";
                Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Movimiento de bodega
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <p>
    </p>

    <!-- begin panel -->
    <div class="box  box-primary">
        <div class="box-body ">
            <div class="row">
                <form id="frmMovimiento" class="form-horizontal" data-parsley-validate>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Movimiento :</label>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.ID_TIPO_MOVIMIENTO, new SelectList(ViewBag.ltipo_movimiento, "ID_TIPO_MOVIMIENTO", "NOMBRE"))
                            </div>
                            <div class="col-sm-3">
                                <label class="form-control">@Model.ANIO - @Model.NUMERO_MOVIMIENTO</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Creado por:</label>
                            <div class="col-sm-7">
                                <label class="form-control">@ViewBag.usuario_solicita</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-control">@(Model.FECHA_SOLICITUD.HasValue ? Model.FECHA_SOLICITUD.Value.ToString("dd/MM/yyyy") : null)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observacion :</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.OBSERVACION, new { @class = "form-control", required = "required", style = "text-transform:uppercase", rows = "5", @data_parsley_minlength = 15 })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <h4 class="page-header">Documento Relacionado</h4>
                        @Html.HiddenFor(m => m.ID_MOVIMIENTO_RELACION)
                        @Html.HiddenFor(m => m.ANIO_DOCUMENTO_REFERENCIA)
                        @Html.HiddenFor(m => m.NUMERO_DOCUMENTO_REFERENCIA)
                        <div id="divBuscaRelacion" class="form-group" style="display:none;">
                            <div class="col-sm-5">

                            </div>
                            <div class="col-sm-7">
                                <button type="button" id="btnRelacion" class="btn btn-default btn-xs">
                                    <i class="fa fa-search-plus"></i>
                                    Buscar documento relacionado
                                </button>
                            </div>
                        </div>
                        <div id="divRequisicion" class="form-group">
                            <label class="col-sm-5 control-label">Solicitud de Requisición :</label>
                            <div class="col-sm-3">
                                <label id="lblSolicitudRequisicion" class="form-control">
                                    @(Model.ID_MOVIMIENTO_RELACION.HasValue ? Model.EPRTA_MOVIMIENTO2.ANIO.ToString() : null) -
                                    @(Model.ID_MOVIMIENTO_RELACION.HasValue ? Model.EPRTA_MOVIMIENTO2.NUMERO_MOVIMIENTO.ToString() : null)
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label id="lblFechaAutorizacion" class="form-control">
                                    @(Model.ID_MOVIMIENTO_RELACION.HasValue ? Model.EPRTA_MOVIMIENTO2.FECHA_AUTORIZACION.Value.ToString("dd/MM/yyyy") : null)
                                </label>
                            </div>
                            <label class="col-sm-5 control-label">Solicitado por :</label>
                            <div class="col-sm-7">
                                <label id="lblUsuarioSolicita" class="form-control">
                                    @(Model.ID_MOVIMIENTO_RELACION.HasValue ? Model.EPRTA_MOVIMIENTO2.USUARIO_SOLICITA : null)
                                </label>
                            </div>

                            <label class="col-sm-5 control-label">Dpto. Solicita :</label>
                            <div class="col-sm-7">
                                <label id="lblDptoSolicita">@(Model.ID_MOVIMIENTO_RELACION.HasValue ? Model.EPRTA_MOVIMIENTO2.VW_DIRECCION.DESCRIPCION : null)</label>
                            </div>
                        </div>
                        <div id="divOrdenCompra" class="form-group">
                            <label class="col-sm-5 control-label">Orden de compra :</label>
                            <div class="col-sm-7">
                                <label id="lblOrdenCompra" class="form-control">
                                    @(Model.ANIO_DOCUMENTO_REFERENCIA.HasValue ? Model.ANIO_DOCUMENTO_REFERENCIA : null) -
                                    @(Model.NUMERO_DOCUMENTO_REFERENCIA.HasValue ? Model.NUMERO_DOCUMENTO_REFERENCIA : null)
                                </label>
                            </div>
                            <label class="col-sm-5 control-label">Factura :</label>
                            <div class="col-sm-3">
                                <label id="lblFactura" class="form-control">@(Model.ANIO_DOCUMENTO_REFERENCIA.HasValue ? Model.VW_ORDEN_COMPRA.FACTURA : null)</label>
                            </div>
                            <div class="col-sm-4">
                                <label id="lblFechaFactura" class="form-control">@(Model.ANIO_DOCUMENTO_REFERENCIA.HasValue ? Model.VW_ORDEN_COMPRA.FECHA_AUTORIZACION.Value.ToString("dd/MM/yyyy") : null)</label>
                            </div>
                            <label class="col-sm-5 control-label">Proveedor :</label>
                            <div class="col-sm-7">
                                <label id="lblProveedor" class="form-control">@(Model.ANIO_DOCUMENTO_REFERENCIA.HasValue ? Model.VW_ORDEN_COMPRA.PROVEEDOR : null)</label>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box-footer">
            @{ if (Model.ESTADO == "S" || Model.ESTADO == "A")
                {
                    <button type="button" id="btnGrabar" class="btn btn-primary btn-sm btn-flat">
                        <i class="fa fa-save"></i> Grabar
                    </button>
                }
            }

            <button type="button" id="btnCancelar" class="btn btn-default btn-sm btn-flat">
                <i class="fa fa-arrow-left"></i> Cancelar
            </button>
            <button type="button" id="btnImprimir" class="btn btn-default btn-sm btn-flat">
                <i class="fa fa-print"></i> Imprimir
            </button>
        </div>

    </div>

    <div class="box box-default">
        <div class="box-header">
            <h2 class="box-title">Detalle de movimiento</h2>
        </div>
        <div class="box-body no-padding ">
            @{ if (Model.ESTADO == "S")
                {
                    <div id="divAgregar" class="row">
                        <div class="col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-1">
                                        Producto
                                    </label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="sltItem" name="sltItem" style="width:100%"></select>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="btnAgregarItem" type="button" class="btn btn-sm btn-default">
                                            <i class="fa fa-plus" aria-hidden="true"></i>  Agregar
                                        </button>
                                        <button id="btnEliminarItem" type="button" class="btn btn-sm btn-default">
                                            <i class="fa fa-remove" aria-hidden="true"></i>  Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
            <div class="row">
                <div class="col-sm-12">
                    <table id="tabItems" class="table table-striped hover compact">
                        <thead>
                            <tr>
                                <th width="85px">Codigo</th>
                                <th>Item</th>
                                <th width="50px">CantSolic.</th>
                                <th width="80px">Despachado</th>
                                <th width="50px" style="text-align:right">Stock</th>
                                <th width="80px">Unidad</th>
                                <th width="20px"></th>
                                <th>IdItem</th>
                                <th>CostoMov</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ if (Model.ESTADO == "D")
                                {
                                    foreach (var item in Model.EPRTA_MOVIMIENTO_DETALLE)
                                    {
                                        //Si es un egreso por solicitud de requisicion, se busca la cantidad solicitada del item
                                        var xcantidad_solicitada = 0.00;
                                        if (Model.ID_MOVIMIENTO_RELACION.HasValue)
                                        {
                                            var item_requisicion = Model.EPRTA_MOVIMIENTO2.EPRTA_MOVIMIENTO_DETALLE.Where(p => p.ID_ITEM == item.ID_ITEM).FirstOrDefault();
                                            xcantidad_solicitada = (item_requisicion ?? null) == null ? 0 : Convert.ToDouble(item_requisicion.CANTIDAD_MOVIMIENTO);
                                        }
                                        <tr>
                                            <td>@item.EPRTA_ITEM.CODIGO</td>
                                            <td>@item.EPRTA_ITEM.DESCRIPCION</td>
                                            <td style="text-align:right">
                                                @xcantidad_solicitada
                                            </td>
                                            <td style="text-align:right">@item.CANTIDAD_MOVIMIENTO</td>
                                            <td style="text-align: right">0</td>
                                            <td >@item.EPRTA_ITEM.EPRTA_MEDIDA.NOMBRE</td>
                                            <td>@item.ID_DETALLE</td>
                                            <td>@item.ID_ITEM</td>
                                            <td>@item.COSTO_MOVIMIENTO</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- end panel -->

    <div class="modal fade" id="dlgDocumentoRelacionado">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span id="titDocumentoRelacionado"></span></h4>
                </div>
                <div class="modal-body">
                    <div style="overflow:auto; height:250px; position:relative;">
                        <table id="tabDocumentoRelacionado" class="table table-striped hover compact">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Año</th>
                                    <th>Número</th>
                                    <th width="100px">Departamento</th>
                                    <th width="100px">Empleado</th>
                                    <th>Fec.Autoriz.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="butSeleccionaDocumento" type="button" class="btn btn-primary btn-sm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Grabando...">Seleccionar</button>
                    <button id="butCancela" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="dlgOrdenCompra">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ordenes de compra</span></h4>
                </div>
                <div class="modal-body">
                    <div style="overflow:auto; height:250px; position:relative;">
                        <table id="tabOrdenCompra" class="table table-striped hover compact">
                            <thead>
                                <tr>
                                    <th>Año</th>
                                    <th>Número</th>
                                    <th width="100px">Proveedor</th>
                                    <th>Fec.Autoriz.</th>
                                    <th>Factura</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="butSeleccionaOC" type="button" class="btn btn-primary btn-sm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Grabando...">Seleccionar</button>
                    <button id="butCancelaOC" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modImpRequisicion">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Requisicion de bodega</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <embed id="tagRequisicion" src="" width="100%" height="600px" type='application/pdf'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- begin modal-dialog-print-pdf -->
    <div class="modal fade" id="modal-dialog-print-pdf">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Egreso de bodega</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <embed id="TagEmbed" src="" width="100%" height="600px" type='application/pdf'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal-dialog-print-pdf -->

</section>



@section scripts {
    <!-- DataTables -->
    @*<script src=@Url.Content("/Content/bower_components/datatables.net/js/jquery.dataTables.min.js")></script>
        <script src=@Url.Content("/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")></script>*@

    @*<script type="text/javascript" src=@Url.Content("/Scripts/App/Movimiento.js")></script>*@
    @Scripts.Render("~/bundles/Movimiento")
    @Scripts.Render("~/bundles/Enumeradores")

    <script type="text/javascript">

        var detalleMovimiento;

        var movimientoId =@Html.Raw(Model.ID_MOVIMIENTO);
        var idRequisicion = @(Model.ID_MOVIMIENTO_RELACION.HasValue ? Model.ID_MOVIMIENTO_RELACION : 0);

        @{
            bool rz_registro_nuevo;
            var tmp = (from p in Model.EPRTA_MOVIMIENTO_DETALLE
                       select new
                       {
                           p.ID_DETALLE,
                           p.ID_MOVIMIENTO,
                           p.ID_ITEM,
                           p.CANTIDAD_MOVIMIENTO,
                           p.ESTADO,
                           CODIGO = p.EPRTA_ITEM.CODIGO,
                           DESCRIPCION = p.EPRTA_ITEM.DESCRIPCION,
                           UNIDAD = p.EPRTA_ITEM.EPRTA_MEDIDA.NOMBRE,
                           p.COSTO_MOVIMIENTO
                       });
            if (Model.ID_MOVIMIENTO == 0)
            {
                rz_registro_nuevo = true;
            }
            else
            {
                rz_registro_nuevo = false;
            }
        }

        detalleMovimiento = @Html.Raw(Json.Encode(tmp));
        registro_nuevo = @Html.Raw(Json.Encode(rz_registro_nuevo));

        $(document).ready(function () {
            Movimiento.init();
        });



    </script>
}



