@model Proveduria.Models.EPRTA_ITEM


@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <!-- DataTables -->
    @*<link rel="stylesheet" href=@Url.Content("/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")>*@


}

<style>
    /*.lblMsg {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
        font-weight: bold;
    }*/
    .registro_inactivo {
        background-color: #fccfcf;
    }
    .columna_stock {
        background-color: #FF9;
        font-weight: bold;
        text-align: right;
    }
</style>


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Item
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <p>
    </p>

    <!-- begin panel -->
    <div class="box box-primary">
        @using (Html.BeginForm("Item", "Item", FormMethod.Post, new { id = "frmItem", @class = "form-horizontal", @data_parsley_validate = "" }))
        {
            @Html.AntiForgeryToken()
        @*<form id="frmItem" class="form-horizontal" data-parsley-validate>*@
            <div class="box-body">
                <div class="row">

                    @Html.HiddenFor(m => m.ID_ITEM)
                    @Html.HiddenFor(m => m.ESTADO)
                    @Html.HiddenFor(m => m.FECHA_ULTIMO_EGRESO)
                    @Html.HiddenFor(m => m.FECHA_ULTIMO_INGRESO)
                    @Html.HiddenFor(m => m.COSTO_ACTUAL)
                    @Html.HiddenFor(m => m.COSTO_ANTERIOR)
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Código :</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.CODIGO, new { @class = "form-control", required = "required", style = "text-transform:uppercase" })
                            </div>
                            <label class="col-sm-1 control-label">Estado:</label>
                            <div class="col-sm-4">
                                @*@Html.TextBoxFor(m => m.ESTADO, new { @class = "form-control", required = "required", style = "text-transform:uppercase" })*@
                                @Html.DropDownListFor(m => m.ESTADO, new[] { new SelectListItem { Text = "Activo", Value = "A" }, new SelectListItem { Text = "Inactivo", Value = "I" } }, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripción :</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.DESCRIPCION, new { @class = "form-control", required = "required", style = "text-transform:uppercase" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Grupo :</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.ID_GRUPO, new SelectList(ViewBag.lstGrupo, "Value", "Text"), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Medida :</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.ID_MEDIDA, new SelectList(ViewBag.lstMedida, "Value", "Text"), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observación :</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.OBSERVACION, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-5">Fec.UltimoIngreso</label>
                            <div class="col-sm-7">
                                <label class="form-control">@(Model.FECHA_ULTIMO_INGRESO.HasValue ? Model.FECHA_ULTIMO_INGRESO.Value.ToString("dd/MM/yyyy") : null)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5">Fec.UltimoEgreso</label>
                            <div class="col-sm-7">
                                <label class="form-control">@(Model.FECHA_ULTIMO_EGRESO.HasValue ? Model.FECHA_ULTIMO_EGRESO.Value.ToString("dd/MM/yyyy") : null)</label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="box-footer">
                <button type="button" id="btnGrabar" class="btn btn-primary btn-sm">Grabar</button>
                <button type="button" id="btnCancelar" class="btn btn-default btn-sm">Cancelar</button>

            </div>
        @*</form>*@

        }
    </div>
    <!-- end panel -->

    <div class="box box-default">
        <div class="box-header">
            <h2 class="box-title">Stock por bodega</h2>
        </div>
        <div class="box-body no-padding">
            <table id="tabStock" class="table table-striped hover compact">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            IdBodega
                        </th>
                        <th style="width:300px;">
                            Bodega
                        </th>
                        <th>
                            Cant.Actual
                        </th>
                        <th>
                            Cant.Critica
                        </th>
                        <th>
                            Cant.Maxima
                        </th>
                        <th>
                            Cant.Minima
                        </th>
                        <th>
                            Cant.Inicio
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model.EPRTA_ARTICULO_BODEGA)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EPRTA_BODEGA.NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CANTIDAD_ACTUAL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CANTIDAD_MAXIMA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CANTIDAD_INICIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CANTIDAD_CRITICA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CANTIDAD_MINIMA)
                    </td>
                </tr>}*@
                </tbody>
            </table>
        </div>
    </div>


</section>

@section scripts {
    <!-- DataTables -->
    @*<script src=@Url.Content("/Content/bower_components/datatables.net/js/jquery.dataTables.min.js")></script>
        <script src=@Url.Content("/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")></script>*@
    
    <script type="text/javascript" src=@Url.Content("/Scripts/App/Item.js")></script>
    <script type="text/javascript">
        @*@{ 
    var item = new
    {
        Model.CODIGO,
        STOCK = (from p in Model.EPRTA_ARTICULO_BODEGA select new { p.CANTIDAD_MAXIMA, p.CANTIDAD_MINIMA})
    };
}

        var item = @Html.Raw(Json.Encode(item))*@

        @{ 
            var tmp = (from p in Model.EPRTA_ARTICULO_BODEGA
                       select new
                       {
                           p.ID_ARTIBODE,
                           p.ID_BODEGA,
                           p.ID_ITEM,
                           BODEGA_NOMBRE = p.EPRTA_BODEGA.NOMBRE,
                           p.ESTADO,
                           p.CANTIDAD_ACTUAL,
                           p.CANTIDAD_BAJA,
                           p.CANTIDAD_CRITICA,
                           p.CANTIDAD_INICIO,
                           p.CANTIDAD_MINIMA,
                           p.CANTIDAD_MAXIMA,
                           p.CANTIDAD_OC
                       });
        }

        var SId_bodega = @Session["bodega_id"]
        var SBodega = "@Session["bodega"].ToString()";
        var lstock_bodega = @Html.Raw(Json.Encode(tmp));
        $(document).ready(function () {
                Item.init();

        });


    </script>
}



